src/main/mule/cicd-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="29dbf61d-4a26-4e20-b0e6-99f7f9016263" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-pipelineFlow" doc:id="9f96098c-b1cf-4828-9f19-ad231ceaacc6" >
		<http:listener doc:name="Listener" doc:id="e548e9c7-d5d9-471d-8673-437e177d0f92" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["sucess"]' doc:name="Set Payload" doc:id="86418327-b97a-4179-b0c4-f2d92a477880" />
	</flow>
</mule>
